:root { 
--bluegray_800_4b:#403d644b; 
--white_A700_b2:#ffffffb2; 
--bluegray_800_19:#403d6419; 
--white_A700_b3:#ffffffb3; 
--white_A700_90:#ffffff90; 
--red_400:#ef534b; 
--light_green_600_19:#77bf4119; 
--bluegray_900_1e:#1c283f1e; 
--amber_300_19:#fedc5a19; 
--light_green_600:#77bf41; 
--bluegray_400_a2:#7c818ca2; 
--black_900_09:#00000009; 
--indigo_A100_2a:#8c8ceb2a; 
--gray_600:#696871; 
--black_900_c9:#000000c9; 
--amber_300:#fedc5a; 
--black_900_4f:#0000004f; 
--bluegray_800_1a:#403d641a; 
--indigo_400_63:#5454d463; 
--white_A700_65:#ffffff65; 
--indigo_400:#5454d4; 
--bluegray_800:#403d64; 
--indigo_400_19:#5454d419; 
--indigo_601:#3c3cac; 
--white_A701:#fcfdfe; 
--white_A700:#ffffff; 
--bluegray_800_23:#403d6423; 
--indigo_600:#504992; 
--gray_52:#f7f7fb; 
--gray_51:#f6f7fa; 
--gray_900_32:#1b1b2032; 
--red_900:#c21a11; 
--indigo_A201:#7070f4; 
--indigo_A200:#6464e9; 
--red_500:#f04037; 
--gray_50:#f6f6fb; 
--yellow_700:#f0c831; 
--red_500_18:#f0403718; 
--gray_903:#1e1d1f; 
--gray_900_85:#18181a85; 
--gray_904:#232326; 
--indigo_400_00:#5454d400; 
--gray_902:#111111; 
--indigo_50:#e9e9f2; 
--red_500_19:#f0403719; 
--red_300_00:#f8746700; 
--gray_900:#18181a; 
--bluegray_100:#d7d7d7; 
--bluegray_800_3f:#403d643f; 
--gray_101:#f2f2f2; 
--gray_100:#f6f6f8; 
--bluegray_900:#2e2e30; 
--black_900_71:#00000071; 
--bluegray_102:#d8d6e5; 
--bluegray_901:#1c283f; 
}